body{
    margin: 0px;
    padding: 0px;
    
}
p{
    text-align: justify;
}
span{
    color: rgb(125, 25, 226);
}

/* top baner */
#parent-1{
    width: 80%;
margin: auto;
margin-bottom: 120px;
}
.parent-1{
    
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.focuse-div{
    border-left: 5px solid rgb(125, 25, 226);
    border-top-left-radius: 14px;
}

.focuse-div h1{

    margin-left: 10px;
}
.fcus-batton{
    background-color: rgb(125, 25, 226);
    color: white;
    border-radius: 10px;
}
.fcus-batton:hover{
    background-color: tomato;
    
}
.child-1 img{
    width: 70%;
    margin-left: 80px;
    
}
.child-1{
    margin-top: 40px;
    width: 50%;
}
 
 
/* missoit part */
.all-section3{
    display: flex;
    justify-content:space-between;
    border-radius: 15px;
}
.img-mission img{
    width: 30%;
   
}
.my-mission h1{
    text-align: center;
   
}
.first-mission-1{
    width: 20%;
   
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    background-color: rgb(206, 181, 247);
}
.first-mission-2{
    width: 20%;
   
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(201, 241, 245);
}
.first-mission-3{
    width: 20%;
   
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(195, 200, 247);
}
 
 
 
 
 
 
/* about section */
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.flex-div{
    display: flex;
}
.develope1 img{
    width:60%;
}
.develope1{
    width: 50%;
}
.develope2{
    margin-top: 95px;
   width: 70%;
}
 
 
 
/* our comunity styling */
.last-section{
    display: flex;
}
.global1{
    width: 50%;
}
.global1 img{
    width: 50%;
    margin-left:40%;
}
 
 
 
 
 
 
/* my skill */

.aboutMe h1{
    text-align: center;
    color: rebeccapurple;
    margin-top: 50px;
}
.coronaSection{
    display: flex;
}
.coronaImg{
    width: 50%;
}
.coronaImg img{
    width: 50%;
    text-align: center;
}
 
 
 
/* footer section */
footer{
    background-color: rgba(26, 21, 21, 0.959);
    color: white;
    text-align:center;
    padding: 20px 0px;
}
  
footer h1{
    font-family: cursive;
}
.footerP{
    text-align: center;
}